/*text style*/
    #aboutProjectText {
        float: none;
        margin: auto;
        width: 75%;
        font-family: 'Dancing Script', Georgia, Times, serif;
        font-size: 1.8em;
        text-align: justify;
        color: black;
    }

    #welcomeString {
        text-align: center;
        font-family: 'Dancing Script', Georgia, Times, serif;
        margin-bottom: 40px;
    }

    .aboutTheProjectText {
        color: black;
    }

/*text responsive*/
    /* xs < 768 */
    @media screen and (max-width: 767px) {
        /*#aboutProjectText {
           font-size: 1.8em;
        }*/
    }
    /* sm */
    @media screen and (min-width: 768px) {
        #aboutProjectText {
           font-size: 2em;
        }
    }

    /* md */
    @media screen and (min-width: 1000px) {
        .aboutTheProjectText {
            width: 80%;
            margin: auto !important;
        }

        #aboutProjectText {
            font-size: 2.1em;
        }
    }
        /* lg */
    @media screen and (min-width: 1500px) {
        .aboutTheProjectText {
            width: 80%;
            margin: auto !important;
        }

        #aboutProjectText {
            font-size: 2.2em;
        }
    }
    
