
/*navigation*/
    /*#ulNavOneButton {
        width: 100% !important;
        display: flex;
        margin: 1em 0px !important;
    }

    #liNavOneButton {
        width: 100% !important;
        display: flex;
    }

    #aNavOneButton {
        width: 100% !important;
        display: block;
        text-align: center;
    }*/

/*inputs style*/
    .form-group {
        font-family: 'Josefin Sans', Helvetica, Arial, sans-serif !important;
        font-size: 18px !important;
    }

    .form-control {
        font-size: 16px !important;
    }

    textarea {
        margin-left: 10px !important;
    }

    .redBorder {
        border-color: red !important;
    }

    label {
        margin-left: 25px !important;
    }

/*send form button*/
    .btn-info {
        font-family: 'Josefin Sans', Helvetica, Arial, sans-serif !important;
    }

/*for modal window bootstrap - center position on the page*/

    .modal {
        text-align: center;
        padding: 0!important;
    }

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

    .modal-dialog {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        font-family: 'Josefin Sans', Helvetica, Arial, sans-serif !important;
        font-size: 18px !important;
        border: solid #008BFF 1px;
        border-radius: 5px;
        /*position: absolute !important;*/
    }

    .btn {
        border-color: #008BFF !important;
    }

/*confirm window*/

    .modal-footer {
        text-align: center !important;
    }

/*filer*/
    .hide-button-till-server-answer  {
        display: none !important;
    }

/*responsive*/

    @media screen and (max-width: 767px) {
        .intro {
            font-size: 0.9em;
        }
        #liNavOneButton {
            width: 100%;
        }
    }

    @media screen and (min-width: 768px) {
        .intro {
            font-size: 1em;
        }
    }

    @media screen and (min-width: 1000px) {
        .intro {
            font-size: 1em;
        }
    }

    @media screen and (min-width: 1500px) {
        .intro {
            font-size: 1.1em;
        }
    }

.nav.navbar-nav.nav-justified {
    padding-left: 0px !important;
}
