/*photo part*/
    .photo-preview {
        width: 200px;
        height: 200px;
    }

    .photo-div{
        margin-left: 10px;
        margin-top: 10px;
        display: inline-block;
    }

    .delete-photo {
        margin-top: 10px;
    }

/*log out button*/

    #introBeforLogOut {
        display: block;
        width: 100% !important;
        margin-right: 1em; 
    }

    #logOut {
        float: right;
        display: flex;
        margin-right: -0.8em;
    }

/*intro text*/

#textCenter {
    display: inline-flex;
    width: 100%;
    margin: 0px;
}

#headerWithLogOut {
    padding: 0;
}

@media screen and (min-width: 768px) {
    .col-sm-1 {
        width: 16.666666% !important;
    }
}

@media screen and (min-width: 1000px) {
    .col-sm-1 {
        width: 12% !important;
    }
}

/*modal windows*/

.modal-moderation {
    position: relative !important;
}

.ekko-lightbox {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 0 !important
}

.ekko-lightbox-container {
    position: relative
}

    .ekko-lightbox-container > div.ekko-lightbox-item {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%
    }

.ekko-lightbox iframe {
    width: 100%;
    height: 100%
}

.ekko-lightbox-nav-overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex
}

    .ekko-lightbox-nav-overlay a {
        -ms-flex: 1;
        flex: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        opacity: 0;
        transition: opacity .5s;
        color: #fff;
        font-size: 30px;
        z-index: 1
    }

        .ekko-lightbox-nav-overlay a > * {
            -ms-flex-positive: 1;
            flex-grow: 1
        }

        .ekko-lightbox-nav-overlay a > :focus {
            outline: none
        }

        .ekko-lightbox-nav-overlay a span {
            padding: 0 30px
        }

        .ekko-lightbox-nav-overlay a:last-child span {
            text-align: right
        }

        .ekko-lightbox-nav-overlay a:hover {
            text-decoration: none
        }

        .ekko-lightbox-nav-overlay a:focus {
            outline: none
        }

        .ekko-lightbox-nav-overlay a.disabled {
            cursor: default;
            visibility: hidden
        }

.ekko-lightbox a:hover {
    opacity: 1;
    text-decoration: none
}

.ekko-lightbox .modal-dialog {
    display: none
}

.ekko-lightbox .modal-footer {
    text-align: left
}

.ekko-lightbox-loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

    .ekko-lightbox-loader > div {
        width: 40px;
        height: 40px;
        position: relative;
        text-align: center
    }

        .ekko-lightbox-loader > div > div {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #fff;
            opacity: .6;
            position: absolute;
            top: 0;
            left: 0;
            animation: a 2s infinite ease-in-out
        }

            .ekko-lightbox-loader > div > div:last-child {
                animation-delay: -1s
            }

.modal-dialog .ekko-lightbox-loader > div > div {
    background-color: #333
}

@keyframes a {
    0%,to {
        transform: scale(0);
        -webkit-transform: scale(0)
    }

    50% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

img {
    width: 100% !important;
}

.col-md-8 {
    width: 100% !important;
}

.row {
    margin-bottom: 1em;
}

a:active {
    outline: none !important;
}

a {
    outline: 0;
}

* {
    outline: none !important;
}

.col-sm-4 {
    margin-bottom: 1em !important;
    max-height: 30em !important;
    text-align: left !important;
    width: 33.333% !important;
}


.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: none !important;
    display: inline-block !important;
}

/*for modal window bootstrap - center position on the page*/

.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif !important;
    font-size: 18px !important;
    border: solid #008BFF 1px;
    border-radius: 5px;
    /*position: absolute !important;*/
}

.btn {
    border-color: #008BFF !important;
}

img {
    max-height: inherit;
    max-width: 90%;
    object-fit: contain;
    display: inline;
    object-position: left;
}
