
    .form-signin
    {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-signin-heading, .form-signin .checkbox
    {
        margin-bottom: 10px;
    }
    .form-signin .checkbox
    {
        font-weight: normal;
    }
    .form-signin .form-control
    {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-signin .form-control:focus
    {
        z-index: 2;
    }
    .form-signin input[type="text"]
    {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"]
    {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .account-wall {
        width: 50% !important;
        margin-left: 25% !important;
        margin-top: 10% !important;
        padding: 10px 0px 20px 0px;
        background-color: #f7f7f7;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    }

    .col-sm-6 {
        width: 100% !important;
    }

    .col-md-offset-4 {
        margin-left: auto !important;
    }

    .login-title
    {
        color: #555;
        font-size: 28px;
        font-weight: 400;
        display: block;
        font-family: 'Dancing Script', Georgia, Times, serif;

    }
    .profile-img
    {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    
    @media screen and (min-width: 768px) {
        .account-wall {
            width: 40% !important;
            margin-left: 30% !important;
            margin-top: 1% !important;
        }
    }

    #homeBtn {
        padding-left: 0px !important;
        margin-left: 0px !important;
    }

    .nav .navbar-nav .nav-justified {
        margin-left: 0px !important;
    }