/*main*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    width: auto !important;
}
/*for sticky footer*/
    html {
        position: relative;
        min-height: 100%;
    }
    body {
        background-color: rgb(255, 255, 255);
    }
/*list*/
    .listDiv {
        width: 100% !important;
        border-color: aliceblue !important;
        border-radius: 6px !important;
        background-color: aliceblue !important;
        /*margin-top: 5.2em !important;*/
        word-wrap: break-word;
    }

    .list-group {
        height: auto !important;
        height: inherit !important;
    }

    .forOffsetTop {
        margin-bottom: 5%;
    }

    .modal-content {
        margin-top: auto;
        align-content: center;
    }

    .list-group.list-group-custom {
        min-width: 5em;
    }
/*responsive*/
@media screen and (max-width: 767px) {
    body {
        font-size: 0.7em;
    }

    #headerTextStyle {
        font-size: 1.7em;
        margin-top: -0.3em;
    }

    .textForNavbarButtons {
        font-size: 1.2em;
        font-style: italic;
        color: #2b2828;
    }

    a.textForNavbarButtons {
        color: #423c3c !important;
        height: 1em;
        font-size: 1.2em;
        display: inline-block;
    }

    .list-group {
        margin-bottom: 0.3em;
        width: 100%;
        padding-left: 0.5em;
        height: auto;
    }

    .col-sm-2 {
        padding: 0 20px 0 0 !important;
        width: 30%;
    }

    .badge {
        margin-left: 0.7em;
    }

    .nav > li {
        width: 50%;
        text-align: center;
    }

    .nav > li > a {
        display: inline-block !important;
        padding-top: 0px !important;
    }

    .nav {
        display: inline-flex;
    }

    .navbar-fixed-bottom {
        height: 8%; 
    }

    .modal-dialog {
        width: 50% !important;
    }
}
    /* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 0.9em;
    }

    #headerTextStyle {
        font-size: 2.1em;
        margin-top: -0.3em;
    }

    #navbarMenu {
        margin-top: 0px !important; 
    }
}
    /* md */
    @media screen and (min-width: 1000px) {
        body {
            font-size: 1em;
        }

        #headerTextStyle {
            font-size: 2.4em;
            margin-top: -0.3em;
        }
    }

    /* lg */
    @media screen and (min-width: 1500px) {
        body {
            font-size: 1.1em;
        }

        #headerTextStyle {
            font-size: 2.8em;
            margin-top: -0.3em;
        }

        .intro {
            font-size: 32px;
        }
    }

    /*header*/
    #jumbotronHeader {
        padding-top: 2%;
        padding-bottom: 2%;
        background: url("../../img/main-back.jpg")repeat-y;
        background-size: 120% 100%;
        -webkit-animation: backgroundScroll 8s 1 normal forwards;
        animation: backgroundScroll 8s 1 normal forwards;
        height: 30%;
    }

    .jumbotron {
        margin-bottom: 1em !important; 
    } 

    @-webkit-keyframes backgroundScroll {
        from {
            background-position: 0 0;
        }

        to {
            background-position: -50px 0;
        }
    }

    @keyframes backgroundScroll {
        from {
            background-position: 0 0;
        }

        to {
            background-position: -50px 0;
        }
    }

    .container-fluid {
        min-height: 100%;
        margin-bottom: -60px;
        padding-bottom: 50px;
        min-width: 480px !important;
        width: 100%;
    }

        .container-fluid:after {
            content: "";
            display: block;
        }

    #headerTextStyle {
        font-family: 'Dancing Script', Georgia, Times, serif;
    }

    /*heading*/
    .intro {
        font-size: 32px;
    }

    #footer-fluid, .container-fluid:after {
        height: 60px;
        background-color: aliceblue;
        margin-bottom: 0;
        border-radius: 6px;
    }

    .text-muted {
        font-family: 'Josefin Sans', Helvetica, Arial, sans-serif !important;
        font-size: 16px !important;
        margin-top: 10px;
    }

    .navbar {
        height: 5% !important;
    }

    .navbar-text {
        float: none !important;
    }

    .navbar-fixed-bottom {
        width: 98%;
        position: relative;
        margin: auto;
    }

    /*css form admin button*/

    #push-right {
        margin-right: 0%;
        width: 10% !important;
        display: flex;
        align-items: center;
    }

    #admin {
        width: 80%;
        min-width: fit-content;
        font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
        color: black;
    }

    #adminIconP {
        margin: 0 !important;
    }

    #containerNav {
        width: 100%;
        display: flex;
    }
    /*intro text*/
    #textCenterIcon {
        display: inline-flex;
        width: 100%;
        margin: 0px;
    }

    /*navbar menu*/
    #navbarMenu {
        background-color: aliceblue;
        margin-top: -1%;
        border-color: white;
        border-radius: 6px;
    }

    .textForNavbarButtons {
        font-size: 18px;
        font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
        color: black;
    }

        .textForNavbarButtons:hover {
            font-size: 22px;
        }

    .navbar-nav.nav-justified > li {
        float: none;
        width: 45%
    }

    .navbar-nav.nav-justified {
        display: flex !important;
        justify-content: space-between;
        width: 100%;
        padding-left: 9%;
    }
   

    /*row style*/
    #rowStyle {
        width: 100% !important;
        float: none;
        margin: auto;
        display: flex; 
    }

    #rowStyle.row {
        width: 100%;
        display: flex;
    }

    .headerRightSide { /*for increasing padding between col. */
        padding: 0 20px 0 20px;
    }

    /*left col*/
    .listDiv {
        width: 100%;
        height: inherit !important;
        border-color: aliceblue !important;
        border-radius: 6px;
        background-color: aliceblue !important;
    }

    .list-group-custom {
        overflow: auto !important;
        height: inherit !important;
    }

    .col-sm-1 {
        padding: 0 20px 0 0 !important;
    }

    .col-sm-2 {
        padding: 0 20px 0 0 !important;
    }

    .listStyle {
        font-family: 'Josefin Sans', Helvetica, Arial, sans-serif !important;
        font-size: 18px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

        .listStyle:hover {
            font-size: 22px !important;
            text-decoration: none !important;
        }

    /*right col */
.center {
    /*display: block;*/
    display: block;
    margin-left: -0.5em;
    margin-right: auto;
    text-align: center;
    font-family: 'Dancing Script', Georgia, Times, serif;
    font-size: 2em;
    padding-bottom: 1em;
}

    /*images blocks*/
    .thumbnail {
        font-family: 'Josefin Sans', Helvetica, Arial, sans-serif !important;
        font-size: 18px !important;
        color: black;
        border-color: aliceblue !important;
    }

        .thumbnail:hover {
            cursor: pointer !important;
            cursor: hand;
        }

    .imageStyleHoriz {
        width: 330px !important;
        height: 250px !important;
    }

        .imageStyleHoriz:hover {
            width: 380px !important;
            height: 300px !important;
        }

    .imageStyleVert {
        width: 180px !important;
        height: 250px !important;
    }

        .imageStyleVert:hover {
            width: 230px !important;
            height: 300px !important;
        }

    /*loading gif*/
    #loadImg {
        position: absolute;
        z-index: 1000;
        display: none;
        width: auto !important;
    }

a:active {
    outline: none !important;
    border: 0;
    text-decoration: none !important;
}

* {
    outline: none !important;
}